<div>
  {{#if isNotLoggedIn}}
    <a href="/login">
      <button type="submit" class="btn btn-primary ml-3 mt-3">Login</button>
    </a>
    <a href="/register">
      <button type="submit" class="btn btn-primary mt-3">Register</button>
    </a>    
  {{/if}}

  {{!-- {{#if isLoggedIn}}
    <a href="/products">
      <button type="submit" class="btn btn-primary mt-3">Productos</button>
    </a>
  {{/if}} --}}
</div>